<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>Choose a form</h1>
        <p>Click on one of the buttons bellow.</p>
        <a href="/login" class="link-btn">Login (normal)</a>
        <a href="/login_bad_username" class="link-btn">Login (bad username)</a>
        <a href="/cardform" class="link-btn">Card form</a>
    </div>
</body>
</html>
